body {
    font-family: 'Inter', sans-serif;
}
.page {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    width: 100%;
}
.hidden-page {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transform: translateY(20px);
}
.visible-page {
    opacity: 1;
    position: static;
    transform: translateY(0);
}
@keyframes progress-animation {
    from { width: 0%; }
    to { width: 100%; }
}
.progress-bar-inner {
    animation: progress-animation 2s ease-out forwards;
}
.gradient-text {
    background: linear-gradient(to right, #a7c957, #386641);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-primary {
    background-image: linear-gradient(to right, #a7c957, #386641);
}